<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate My Dog</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <h1>🐶 Rate My Dog</h1>

    <div class="gallery">
    	<div th:each="animal : ${animals}" class="card">
            <a th:href="@{/animal/{id}(id=${animal.id})}">
                <img th:src="${animal.image}" th:alt="${animal.name}" />
                <div class="animal-name" th:text="${animal.name}">Nombre</div>
            </a>
    	</div>
	</div>


</body>
</html>



<!--
<div th:each="animal : ${animals}" class="card">
        	<img th:src="${animal.image}" th:alt="${animal.name}" class="animal-img" />
        	<div class="animal-name" th:text="${animal.name}">Nombre del animal</div>
    	</div>
 -->