body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columnas fijas */
    gap: 1.5rem;
    /* Opcional: fijar la altura si quieres controlar el scroll o tamaño */
    /* height: calc(4 * (250px + 1.5rem)); */
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.dog-name, .animal-name {
    margin-top: 0.5rem;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}
